#summaryTableDiv {
  margin-top: 20px;
  max-height: 400px; /* Set the maximum height for the div */
  overflow-y: auto; /* Enable vertical scroll */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  }
  #summaryTable {
      margin-top: 20px;
      border-collapse: collapse;
      width: 100%;
  }

  #summaryTable th, #summaryTable td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
  }
  #taxTable {
      margin-top: 20px;
      border-collapse: collapse;
      width: 100%;
  }

  #taxTable th, #taxTable td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
  }